html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  body {
    max-width: 100% !important;
    margin: 0;
    padding: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Redressed';
    font-weight: 400;
  }
  
  h1 {
    font-size: 30px !important;
    font-family: 'Cinzel', serif;
  }
  
  
  h2 {
    font-size: 39.06px;
    font-family: 'Cinzel', serif;
  }
  
  
  h3 {
    font-size: 31.25px;
    font-family: 'Cinzel', serif;
  }
  
  
  h4 {
    font-size: 25px;
    font-family: 'Cinzel', serif;
  }
  
  
  h5 {
    font-size: 20px;
    font-family: 'Cinzel', serif;
  }
  
  
  h6 {
    font-size: 16px;
    font-family: 'Cinzel', serif;
  }
  
  a:hover {
    cursor: pointer;
  }
.header {
    background:url("img/Background.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    background-attachment: fixed;
}
.header p {
  color: rgb(216, 216, 216);
  font-size: 50px;
  font-family: 'Cinzel', serif;
  padding: 0px 0px 60px 0px !important;
}
.header h1 {
  color: rgb(216, 216, 216);
    padding-top:120px;
    font-size: 50px !important;
}
.header h2 {
    font-size: 200px !important;
    font-family: 'Herr Von Muellerhoff', cursive;    
    color: rgb(216, 216, 216);
  
  }
  .about-content {
    display: flex;
    align-items: center;
  }
  .about-content img {
  min-width:100%;
 
}
.container {
    position: relative;
    width: 24px;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  .chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
  }
  
  .chevron:first-child {
    animation: move 3s ease-out 1s infinite;
  }
  
  .chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
  }
  
.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
  }
  
.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
  }
  
.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
  }
  .about {
    height: 100vh;
    width: 100%;
    background:white !important;
    transition: 0ms;
    display: flex;
    justify-content: space-between;
  }
  #navbar { 
    position: fixed; 
    top: 0; 
    width: 100%;
    transition: top 1000ms; 
    padding: 0px;
    font-family: 'Cinzel', serif ;
  }
   #navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }
  .dropdown-menu.show {
    background:none !important; 
    color: none;
  }
  .nav-link {
    color: black !important;
  }
.about {
  text-align: center;
}
.navbar {
    position: fixed; 
    top: 0; 
    width: 100%; 
    transition: top 0.3s; 
} 
#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }
.logo.img {
  color:black !important;
}

.containerT {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 0px !important;
  justify-content: center !important;
}
.txt-content {
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  max-width: 100%;
  padding-right: 50px;
}
.img-content {
  padding: 50px;
}


@media (max-width:450px){
  .header h2 { 
    font-size: 70px !important;
   
   } 
   }
   @media (max-width:320px){
    .header h2 { 
      font-size: 70px !important;
     } 
    img.tag{
      width: 100%;
      
    }
    .header p {
      font-size: 30px;
      padding: 0px !important;

    }
    .header h1 {
      font-size:30px !important;
      padding: 500px 0px 0px 0px !important;
    }
    .containerT {
      flex-direction: column !important;
      padding: 0px !important;
    }
    .img-content img {
      margin:auto !important;
      max-width: 100%;
    }
    .img-content {
      padding: 0px;
    }
    .about {
      height: auto;
    }
    .txt-content {
      width: 100%;
      padding-right: 0px;
    }
  }
  #str {
    height: auto;
    font-family: sans-serif;
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    background: #000
 }
 
  @media (max-width:450px){
    .header h2 { 
      font-size: 70px !important;
     
   } 
     }
     @media (max-width:790px){
      .header h2 { 
        font-size: 100px !important;
       } 
      img.tag{
        width: 100%;
        
      }
      .header p {
        font-size: 30px;
        padding: 0px !important;

      }
      .header h1 {
        font-size:30px !important;
        padding: 180px 0px 0px 0px !important;
      }
    }
    @media (max-width:1060px) {
      .header p {
        font-size: 30px;
        padding: 0px !important;
      }
    }
    @keyframes move {
    25% {
      opacity: 1;
  
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }
  @keyframes pulse {
    to {
      opacity: 1;
    }
  }